{% extends 'layout.html' %}

{% block body %}

    <h1 style="color: black">CLIENTES</h1> 
    <h2>Ingresar Clientes</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}     
    <div>
        <form action="/añadir_cliente", method="POST">
            <input type="text" name="cod", placeholder="Código">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="number" name="tel" placeholder="Teléfono">
            <input type="number" name= "cre" step="0.01" placeholder="Crédito">
            <input type="number" name="cal" placeholder="Calificación">
            <button type="submit">
                Añadir
            </button>   
            <p><b>Código: </b> indique el código del cliente.</p>
            <p><b>Nombre: </b> indique el nombre del cliente.</p>
            <p><b>Teléfono: </b> indique el teléfono del cliente.</p>
            <p><b>Crédito: </b> indique el crédito del cliente.</p>
            <p><b>Calificación: </b> indique la calificación del cliente.</p>
            <br>
            <br>       
        </form>  
    </div>      
    
{% endblock %}
