{% extends 'layout.html' %}

{% block body %}

    <h1 style="color: black">Engordes</h1>
    <h2>Ingresar Engorde</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}  
    <div>
        <form action="/añadir_engorde", method="POST">
            <input type="text" name="cod", placeholder="Código">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="number" step="0,01" name="valor_estimado" placeholder="Valor Estimado">$COP
            <input type="text" name="categoria" placeholder="Categoría"> 
            <button type="submit">
                Añadir
            </button>   
            <p><b>Código: </b> indique el código del engorde.</p>
            <p><b>Nombre: </b> indique el nombre del engorde.</p>
            <p><b>Valor Estimado: </b> indique el valor estimado del engorde.</p>        
            <p><b>Categoría: </b> indique la categoría del engorde.</p>
            <br>
            <br>       
        </form>
    </div>   
    <h2>Engordes Ingresados</h2>       
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Nombre</td>
                    <td>Valor Estimado</td>
                    <td>Categoría</td>
                    <td>Registro Médico</td>
                    <td>Salida</td>
                </tr>
            </thead>
            <tbody>
                {% for data in datos %}
                <tr>
                    <td>{{data.0}}</td>
                    <td>{{data.1}}</td>
                    <td>{{data.2}}</td>
                    <td>{{data.3}}</td>
                    <td>
                        <a href = "/registro_medico/{{data.4}}"> {{data.4}} </a>
                    </td>
                    <td>{{data.5}}</td>
                    <td><a href="" class="btn btn-danger btn-delete">Delete</a></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        <br>
        <br>
        <form action="http://localhost:3000/">
            <input type="submit" value="Regresar">
        </form>
        </div> 
    </div>  
{% endblock %}
