<!--Heredamos el diseño de todo lo que se haga en layout-->
{% extends 'layout.html' %}

{% block body %}
    <!--Mostrar los mensaje flask -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
     <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
     <!--Para enumerar las consultas-->
    <style>
        li {
            color: #fff;
        }
    </style>
    <ol>
        <li style="color: black; font-family: Arial, Helvetica, sans-serif; font-size: large;">CRUDS</li>
            <ul style="color: black">
                <li style="color: black;"><a href="http://localhost:3000/vacas">Vacas</a></li>
                <li style="color: black;"><a href="http://localhost:3000/toros">Toros</a></li>
                <li style="color: black;"><a href="http://localhost:3000/terneros">Terneros</a></li>
                <li style="color: black;"><a href="http://localhost:3000/clientes">Clientes</a></li>
                <li style="color: black;"><a href="http://localhost:3000/veterinarios">Veterinarios</a></li>
                <li style="color: black;"><a href="http://localhost:3000/registro_ventas">Registro ventas</a></li>
                <li style="color: black;"><a href="http://localhost:3000/engordes">Engorde</a></li>
            </ul>
            <br>
        <li style="color: black; font-family: Arial, Helvetica, sans-serif; font-size: large;">CONSULTAS</li>
        <ul style="color: black">
            <li style="color: black;"><a href="http://localhost:3000/consulta_1">Listar pajillas</a></li>
            <li style="color: black;"><a href="http://localhost:3000/consulta_2/1c">Información sobre inseminaciones</a></li>
        </ul>
    </ol>
    
{% endblock %}
