<!--Heredamos el diseño de todo lo que se haga en layout-->
{% extends 'layout.html' %}

{% block body %}
    <!--Mostrar los mensaje flask -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
     <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
     <!--Para enumerar las consultas-->
    <style>
        li {
            color: #fff;
        }
    </style>
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="heading underline font-x2">CONSULTAS</p>
    </div>
    <ul class="nospace group team">
      <li class="one_quarter first">
        <figure><a class="imgover" href="http://localhost:3000/vacas"><img src="static/assets/vaca1.png" alt=""></a>
          <figcaption><strong>Vacas</strong> <em>1</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="http://localhost:3000/toros"><img src="static/assets/toro.png" alt=""></a>
          <figcaption><strong>Toros</strong> <em>2</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="http://localhost:3000/terneros"><img src="static/assets/ternero.png" alt=""></a>
          <figcaption><strong>Terneros</strong> <em>3</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="http://localhost:3000/engordes"><img src="static/assets/engorde.png" alt=""></a>
          <figcaption><strong>Engordes</strong> <em>4</em></figcaption>
        </figure>
      </li>
      <p></p>
      <li class="one_quarter first">
        <figure><a class="imgover" href="http://localhost:3000/veterinarios"><img src="static/assets/veterinario.png" alt=""></a>
          <figcaption><strong>Veterinarios</strong> <em>5</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="http://localhost:3000/clientes/1c"><img src="static/assets/cliente.png" alt=""></a>
          <figcaption><strong>Clientes</strong> <em>6</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="http://localhost:3000/registro_ventas"><img src="static/assets/registrodeventa.png" alt=""></a>
          <figcaption><strong>Registro de ventas</strong> <em>7</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="http://localhost:3000/registro_medico/1c"><img src="static/assets/registromedico.png" alt=""></a>
          <figcaption><strong>Registros médicos</strong> <em>8</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter first">
        <figure><a class="imgover" href="http://localhost:3000/salidas/1c"><img src="static/assets/salida.png" alt=""></a>
          <figcaption><strong>Salidas</strong> <em>9</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="http://localhost:3000/enfermedades/1c"><img src="static/assets/enfermedad.png" alt=""></a>
          <figcaption><strong>Enfermedades</strong> <em>10</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="http://localhost:3000/pajillas"><img src="static/assets/pajilla.png" alt=""></a>
          <figcaption><strong>Pajillas</strong> <em>11</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="http://localhost:3000/consulta_2/1c"><img src="static/assets/inseminacion.png" alt=""></a>
          <figcaption><strong>Inseminaciones</strong> <em>12</em></figcaption>
        </figure>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
{% endblock %}
