<!DOCTYPE html>
<html lang=""><head>
<title>GANT&Vbar;</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!--Accedemos a la página de bototsswatch para poder usar sus etilos css-->
<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/layout7.css')}}">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left"> 
      <!-- ################################################################################################ -->
      <ul class="nospace">
        <li><i class="fas fa-database"></i> Uninorte/Bases de datos</li>
        <li><i class=" fas fa-keyboard"></i> Esperamos les guste</li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
    <div class="fl_right"> 
      <!-- ################################################################################################ -->
      <ul class="nospace">
        <li id="searchform">
          <div>
            <form action="#" method="post">
              <fieldset>
                <legend>Quick Search:</legend>
                <input type="text" placeholder="Enter search term&hellip;">
                <button type="submit"><i class="fas fa-search"></i></button>
              </fieldset>
            </form>
          </div>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('static/assets/fondo2.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <!-- ################################################################################################ -->
       <a class="navbar-brand" href="http://localhost:3000/"><img src="static/assets/logo.png"></a>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
            <li><a class="drop" href="#">Pages</a>
                <ul>
                <li><a class="drop" href="#">Animales</a>
                     <ul>
                        <li><a href="http://localhost:3000/vacas">Vacas</a></li>
                        <li><a href="http://localhost:3000/toros">Toros</a></li>
                        <li><a href="http://localhost:3000/terneros">Terneros</a></li>
                        <li><a href="http://localhost:3000/engordes">Engorde</a></li>
                    </ul>
                </li>
                  <li><a href="http://localhost:3000/veterinarios">Veterinarios</a></li>
                  <li><a href="http://localhost:3000/clientes">Clientes</a></li>
                  <li><a href="http://localhost:3000/registro_ventas">Registro de ventas</a></li>
                  <li><a href="http://localhost:3000/registro_medico/1c">Registros médicos</a></li>
                  <li><a href="http://localhost:3000/salidas/1c">Salidas</a></li>
                  <li><a href="http://localhost:3000/enfermedades/1c">Enfermedades</a></li>
                  <li><a href="http://localhost:3000/pajillas">Pajillas</a></li>
                  <li><a href="http://localhost:3000/consulta_2/1c">Información sobre inseminaciones</a></li>
                </ul>
              </li>
          <li class="active"><a href="http://localhost:3000/">Home</a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
 <!--Ya aquí se acaba lo de la barra de navegación-->
 <!--Lo de pt-4 es para agregar un espaciado-->
    <div class="container pt-4">
        {% block body %}
        {% endblock %}
    </div>
</div> 

<!-- ################################################################################################ -->
<!-- FOOTER -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
    <section id="ctdetails" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <ul class="nospace clear">
        <li class="one_quarter first">
          <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +57 (318) 5743641</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@GANT&V-.com</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday - Saturday:</strong> 08.00am - 18.00pm</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="#">Ganadería Toros & Vacas S.A.S</a></span></div>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="one_quarter first">
        <h6 class="heading">Estudiantes</h6>
        <ul class="nospace linklist">
          <li><a href="#">Jairo Gonzalez Hernández</a></li>
          <li><a href="#">Anyelo Tilano Algarin</a></li>
          <li><a href="#">Jhimi Vargas Guzman</a></li>
          <li><a href="#">Alejandro Vertel Villegas</a></li>
          <li><a href="#">María Zapata Montaño</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Envíanos un e-mail si surge algún problema</h6>
        <p class="nospace btmspace-15">Te contestaremos lo antes posible</p>
        <form action="#" method="post">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button type="submit" value="submit">Submit</button>
          </fieldset>
        </form>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Agradecimientos a:</h6>
        <ul class="nospace linklist">
          <li>
            <article>
              <p class="nospace btmspace-10"><a href="#">Profesor: Luis Alejandro Llach Lopez.</a></p>
            </article>
          </li>
          <li>
            <article>
              <p class="nospace btmspace-10"><a href="#">Monitor: Luis Alberto Potte Herrera. </a></p>
              <time class="block font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> June 2021</time>
            </article>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">www.GANT&V.com</a></p>
      <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>
  
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!--Scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src= '{{url_for("static", filename = "js/main.js")}}'></script>
<script src= '{{url_for("static", filename = "scripts/jquery.min.js")}}'></script>
<script src= '{{url_for("static", filename = "scripts/jquery.backtotop.js")}}'></script>
<script src= '{{url_for("static", filename = "scripts/jquery.mobilemenu.js")}}'></script>
</body>
</html>