<!--Esta va a ser una plantilla html que van a heredar todas las otras plantillas-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICBF</title>
    <!--Accedemos a la página de bototsswatch para poder usar sus etilos css-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <!--Esto es para que nos aparezca la barra de navegación arriba-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Ganadería Toros & Vacas S.A.S –GANT&V- </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      </nav>
    <!--Ya aquí se acaba lo de la barra de navegación-->
    <!--Lo de pt-4 es para agregar un espaciado-->
    <div class="container pt-4">
        {% block body %}
        {% endblock %}
    </div>

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src= '{{url_for("static", filename = "js/main.js")}}'></script>
  </body>
</html>