{% extends 'layout.html' %}

{% block body %}

    <h1 style="color: black"><b>VACAS</b></h1>
    <h2>Ingresar Vacas</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}    
    <div>
        <form action="/añadir_vaca", method="POST">
            <input type="text" name="cod", placeholder="Código">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="genetica" placeholder="Genética">
            <button type="submit">
                Añadir
            </button>   
            <p><b>Código:</b> indique el código de la vaca.</p>
            <p><b>Nombre:</b> indique el nombre de la vaca.</p>
            <p><b>Genética:</b> indique si la genética lechera de la vaca es mala, sobresaliente, excelente, etc.</p>
            <br>
            <br>       
        </form>  
    </div>
    <h2>Vacas Ingresadas</h2>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Nombre</td>
                    <td>Genética</td>
                    <td>Registro Médico</td>
                    <td>Salida</td>
                </tr>
            </thead>
            <tbody>
                {% for data in datos %}
                <tr>
                    <td>{{data.0}}</td>
                    <td>{{data.1}}</td>
                    <td>{{data.2}}</td>
                    <td>{{data.3}}</td>
                    <td>{{data.4}}</td>
                    <td><a href="" class="btn btn-danger btn-delete">Delete</a></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        <br>
        <br>
        <form action="http://localhost:3000/">
            <input type="submit" value="Regresar">
        </form>
        </div> 
    </div>  
    

{% endblock %}
