{% extends 'layout.html' %}

{% block body %}

    <div class="sectiontitle">
        <p class="heading underline font-x2">VACAS</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card card-body">
                <form method= 'POST'>
                    <p>Ingresar y actualizar vacas</p>
                    <div class="form-group">
                        <input type="number" name = "cod" placeholder="Código de vaca" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name = "nombre" placeholder="Nombre de vaca" class="form-control">
                    </div>
                    <div class="form-group">
                        <select name="genetica" id="geneticaid">
                            <option value="mala">Mala</option>
                            <option value="regular">Regular</option>
                            <option value="sobresaliente">Sobresaliente</option>
                            <option value="excelente">Excelente</option>
                          </select>    
                    </div>
                    <div class="form-group">
                        <input type="number" name="salida" placeholder="Código de Salida (Si aplica)" class="form-control">  
                    </div>
                    <div class="form-group">
                        <button type="submit" formaction="/añadir_vaca" class="btn btn-primary">Insertar</button>
                        <button type="submit" formaction="/update_vaca" class="btn btn-primary">Actualizar</button>
                        <!--<button type="submit" formaction="/update_hijo" class="btn btn-primary">Actualizar</button>-->
                    </div>
                </form>
            </div>
            <br>
            <br>
            <a class="btn btn-primary" href="http://localhost:3000/" role="button">Regresar</a>
        </div>
        <div class="col-md-7">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Código</td>
                        <td>Nombre</td>
                        <td>Genética</td>
                        <td>Registro Médico</td>
                        <td>Inseminaciones</td>
                        <td>Salida</td>
                    </tr>
                </thead>
                <tbody>
                    {% for data in datos %}
                    <tr>
                        <td>{{data.0}}</td>
                        <td>{{data.1}}</td>
                        <td>{{data.2}}</td>
                        <td>
                            <a href = "/registro_medico?id={{data.3}}"> {{data.3}} </a>
                        </td>
                        <td>
                            <a href = "/consulta_2?id={{data.0}}">Consultar </a>
                        </td>
                        <td>
                            <a href = "/salidas?id={{data.4}}" >{{data.4}} </a>
                        </td>
                        <td><a href="/delete_vaca?id={{data.0}}" class="btn btn-danger btn-delete">Delete</a></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
